<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav mode="side">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <div class="container" (click)="sidenav.toggle()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img src="/assets/logo.png" alt="Logo">
            <div class="slide">
                <p>LIGHT</p>
                <mat-slide-toggle>DARK</mat-slide-toggle>
            </div>
            <p class="day">TODAY</p>
        </mat-toolbar>
        <app-weather-card></app-weather-card>
    </mat-sidenav-content>
</mat-sidenav-container>
