mat-toolbar {
    display: flex;
    position: relative;
}

mat-toolbar img {
    max-width: 190px;
    padding-left: 10px;
}

mat-toolbar .day {
    color: #432C85;
    font-weight: 600;
    left: 50%;
    position: absolute;
    top: 0;
}

.sidebar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-container mat-sidenav-content .container div {
    width: 35px;
    height: 5px;
    background-color: #432C85;
    margin: 6px 0;
}

.sidebar-container mat-sidenav {
    width: 25%;
}

.sidebar-container mat-sidenav-content mat-toolbar .slide {
    right: 1%;
    position: absolute;
    color: #432C85;
    display: flex;
    top: 0;
}

.sidebar-container mat-sidenav-content mat-toolbar .slide mat-slide-toggle {
    padding-left: 4px;
    padding-top: 23px;
}

/* @media(max-width : 669px) {
    mat-sidenav-container mat-sidenav-content mat-toolbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
} */