<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side">
        <app-sidenav></app-sidenav>
      </mat-sidenav>
    <div id="overlay"></div>   
    <mat-sidenav-content>
        <mat-toolbar>
            <div class="container" (click)="sidenav.toggle()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img src="/assets/logo.png" alt="Logo">
            <p>TODAY</p>
        </mat-toolbar>
        <div class="card-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
